@import url('https://fonts.googleapis.com/css?family=Oswald|Vollkorn');

* {
	margin: 0px;
	padding: 0px;
}

/* ====== Elements ====== */
a{
  transition: all 0.2s;
}
a:hover, a:focus{
  text-decoration: none;
}
body{
	font-family: 'Vollkorn', serif;
	/*font-family: 'Oswald', sans-serif;*/
}

/* ======= navbar ======= */
.nav-img{
  color: #2bace2 !important;
  font-family: Oswald;
  font-weight: bold;
}
.nav-img img{
  display: inline-block;
  margin-right: 5px;
}
.site-header{
	height: 52px;
	border-radius: 0px;
}

/* ======= footer ======= */
.site-footer{
	height: 60px;
	margin-top: 40px;
}

/* ======= index ======= */
.prop-header{
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.prop-header span{
	font-style: italic;
	color: rgb(236,141,0);
}

.prop-icon{
	font-size: 60px;
	transition: all 0.2s;
}

.prop-icon:hover{
	transform: scale(1.5, 1.5);
	color: #32d8c1;
}

.prop-row{
	text-align: center;
	margin-top: 40px;
}

.sub-header{
	color: gray;
}

.login-container{
	padding: 0px 50px;
	border-right: 1px solid #ccc;
	margin-top: 100px;
}

.signup-container{
	padding: 40px 50px;
}

.log-text{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-bottom: 20px;
}

.forgot-pass{
	margin-top: 10px;
}